@import variable
    
.table-content
    background: #fff
    padding: 10px
    margin-top: 10px
    border-radius: 4px
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .1)
    
    .table-search
        display: block
        float: right
        color: $black
        
        label
            padding-right: 10px
            
        input[type=search]
            border: none
            border-right: 4px solid $black
            height: 30px
            padding-left: 10px
            padding-right: 10px
           
            margin-bottom: 10px
            min-width: 200px
            transition: all .3s
            
            &:focus
                border-color: $green-neon


.table

    thead

        border-radius: 4px
        th

    .option-table-header
        width: 130px

    .option-table
        list-style: none
        padding: 0px

        .opt
            float: left
            border-radius: 4px
            margin: 0px 2px
            padding: 4px 8px
            color: $white


        .opt-view
            background-color: $blue

        .opt-edit
            background-color: $yellow-dark
        .opt-delete
            background-color: $red